* {
    font-family: 'Bungee'; 
}

.image1 {
    width: 10%;

}

.column {
    align-items: center;
}

.center {
  height: 200px;  

}

section {
    background-color: #ff00ff;
    display: flex; 
    flex-direction: column; 
    padding: 20px; 
}
ul {
    list-style-type: none; 
    display: flex; 
    flex-direction: row; 
    color: #7944e6; 
}


a {
    text-decoration: none;
}

header {
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.image3 {
    width: 20%; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #7944e6
    
}

a:hover {
    color: #10fdff;  
}
 .image4 { 
    width: 20%; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #7944e6 
 }

 .image5 {
    width: 20%; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #7944e6
 }

 @media only screen and (min-width: 768px) {
    body {
      background-color: white;
    }
    section {
        flex-direction: row; 
    }
    ul {
        flex-direction: row;
    }
}

